<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Admin</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>


</style>
</head>
<body>

	<br>
	<div class="container-fluid">
		
 <a  class="btn btn-success"
			th:href="@{/home}">Ana səhifə</a>
		<a  class="btn btn-success" th:href="@{/products}">Məhsullar</a>
		<a  class="btn btn-primary" th:href="@{/user}">İstifadəçilər</a>
		<a  class="btn btn-warning" th:href="@{/incoming}">Gətirilən mallar</a>
		<a  class="btn btn-secondary" th:href="@{/sale}">Satış hesabatı </a>
		<a  class="btn btn-info" th:href="@{/cashier}">Satıcılar </a>
		
	</div>


</body>
</html>