<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Ana Səhifə</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
#name {
	background-color: lime;
	padding: 5px;
	display: inline-block;
}
</style>
</head>
<body>

	<br>
	<div class="container-fluid">
		<h1 id="name" style="color: blue;">Marketə
			xoş gəlmisiniz</h1>
		<br> 
		<a th:if="${username}" class="btn btn-success" th:href="@{/admin}">Admin</a>
		 <a th:unless="${username}"
			class="btn btn-success	" th:href="@{/show-login}">Giriş</a> <a
			th:if="${username}" class="btn btn-danger" th:href="@{/logout}">Çıxış</a>
	</div>


</body>
</html>